import * as React from "react";

export type {{properCase name}}Props = {
  text: string;
};

export function {{properCase name}}({ text }: {{properCase name}}Props) {
  return (
    <div data-component="{{properCase name}}">
      {text}
    </div>
  );
}

export default {{properCase name}};
